---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/bad.endpoint?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 9d74cfa3de69667facd8336bbae909d4
      X-Via:
      - haproxy-www-je5i
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"bad.endpoint"}'
  recorded_at: Sun, 15 Mar 2020 23:37:22 GMT
recorded_with: VCR 5.1.0
