---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?pretty=1&token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 6f9f18d78f1c5924429003d04cda5923
      X-Oauth-Scopes:
      - chat:write,channels:read,users:read,chat:write.customize,chat:write.public
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-5mc5
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "ok": true,
            "channels": [
                {
                    "id": "CUTE4M96W",
                    "name": "general",
                    "is_channel": true,
                    "created": 1583872630,
                    "is_archived": false,
                    "is_general": true,
                    "unlinked": 0,
                    "creator": "UV68ES05B",
                    "name_normalized": "general",
                    "is_shared": false,
                    "is_org_shared": false,
                    "is_member": false,
                    "is_private": false,
                    "is_mpim": false,
                    "members": [
                        "UVDEMQMV4",
                        "UV5UMJ4F6",
                        "UUTK13WE6",
                        "UUW5E7SF3",
                        "UV68ES05B"
                    ],
                    "topic": {
                        "value": "Company-wide announcements and work-based matters",
                        "creator": "UV68ES05B",
                        "last_set": 1583872630
                    },
                    "purpose": {
                        "value": "This channel is for workspace-wide communication and announcements. All members are in this channel.",
                        "creator": "UV68ES05B",
                        "last_set": 1583872630
                    },
                    "previous_names": [],
                    "num_members": 5
                },
                {
                    "id": "CUTE4MTD0",
                    "name": "api-testing",
                    "is_channel": true,
                    "created": 1583872631,
                    "is_archived": false,
                    "is_general": false,
                    "unlinked": 0,
                    "creator": "UV68ES05B",
                    "name_normalized": "api-testing",
                    "is_shared": false,
                    "is_org_shared": fa[...]
- request:
    method: get
    uri: https://slack.com/api/users.list?pretty=1&token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - d9780e687b0e09c48ff3bcea2423dbb3
      X-Oauth-Scopes:
      - chat:write,channels:read,users:read,chat:write.customize,chat:write.public
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-je5i
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "ok": true,
            "members": [
                {
                    "id": "USLACKBOT",
                    "team_id": "TV83W4WBZ",
                    "name": "slackbot",
                    "deleted": false,
                    "color": "757575",
                    "real_name": "Slackbot",
                    "tz": null,
                    "tz_label": "Pacific Daylight Time",
                    "tz_offset": -25200,
                    "profile": {
                        "title": "",
                        "phone": "",
                        "skype": "",
                        "real_name": "Slackbot",
                        "real_name_normalized": "Slackbot",
                        "display_name": "Slackbot",
                        "display_name_normalized": "Slackbot",
                        "fields": null,
                        "status_text": "",
                        "status_emoji": "",
                        "status_expiration": 0,
                        "avatar_hash": "sv41d8cd98f0",
                        "always_active": true,
                        "first_name": "slackbot",
                        "last_name": "",
                        "image_24": "https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png",
                        "image_32": "https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png",
                        "image_48": "https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png",
                        "image_72": "https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png",
                        "image_192": "https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png",
                        "image_512": "https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png",
                        "status_text_canonical": "",
                        "team": "TV83W4WBZ"
                    },
                    "is_admin": false,
                    "is_owner": false,
                    "is_primary_owner": false,
                    "is_restricted": false,
                    "is_ultra_restricted": false,
                    "is_bot": false,
                    "is_app_user": false,
                    "updated": 0
                },
                {
                    "id": "UUTK13WE6",
                    "team_id": "TV83W4WBZ",
                    "name": "yesentorres",
                    "deleted": false,
                    "color": "674b1b",
                    "real_name": "Yesenia Torres",
                    "tz": "America\/Los_Angeles",
                    "tz_label": "Pacific Daylight Time",
                    "tz_offset": -25200,
                    "profile": {
                        "[...]
