---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 216a4ef8a229b3353710c1978a10ae8c
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-4gqk
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CUTE4M96W","name":"general","is_channel":true,"created":1583872630,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UV68ES05B","name_normalized":"general","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UV5UMJ4F6","UVDEMQMV4","UUTK13WE6","UUW5E7SF3","UV68ES05B"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UV68ES05B","last_set":1583872630},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UV68ES05B","last_set":1583872630},"previous_names":[],"num_members":5},{"id":"CUTE4MTD0","name":"api-testing","is_channel":true,"created":1583872631,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UV68ES05B","name_normalized":"api-testing","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UV5UMJ4F6","UVDEMQMV4","UUTK13WE6","UUW5E7SF3","UV68ES05B"],"topic":{"value":"For
        covid testing","creator":"UV68ES05B","last_set":1583958329},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":5},{"id":"CV83W5SS3","name":"random","is_channel":true,"created":1583872630,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UV68ES05B","name_normalized":"random","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UV5UMJ4F6","UVDEMQMV4","UUTK13WE6","UUW5E7SF3","UV68ES05B"],"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UV68ES05B","last_set":1583872630},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"UV68ES05B","last_set":1583872630},"previous_names":[],"num_members":5}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Sat, 14 Mar 2020 21:13:07 GMT
- request:
    method: get
    uri: https://slack.com/api/channels.list
    body:
      encoding: UTF-8
      string: token=<SLACK_TOKEN>
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
        <HTML><HEAD><META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
        <TITLE>ERROR: The request could not be satisfied</TITLE>
        </HEAD><BODY>
        <H1>403 ERROR</H1>
        <H2>The request could not be satisfied.</H2>
        <HR noshade size="1px">
        Bad request.
        We can't connect to the server for this app or website at this time. There might be too much traffic or a configuration error. Try again later, or contact the app or website owner.
        <BR clear="all">
        If you provide content to customers through CloudFront, you can find steps to troubleshoot and help prevent this error by reviewing the CloudFront documentation.
        <BR clear="all">
        <HR noshade size="1px">
        <PRE>
        Generated by cloudfront (CloudFront)
        Request ID: _h4S62vQLPwix8VPQxJxxgMOnJsm8vDn2ijx3Fu8T5kmskBSBS7HOw==
        </PRE>
        <ADDRESS>
        </ADDRESS>
        </BODY></HTML>
  recorded_at: Sun, 15 Mar 2020 01:34:44 GMT
recorded_with: VCR 5.1.0
