---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=xoxb-992126656368-994800229030-ep6jgmfuG9sCjdZAqJD06AMG
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 2555c808ee744bea5e0e0ba7d07a124a
      X-Oauth-Scopes:
      - users:read,channels:read,chat:write,chat:write.public,chat:write.customize,users.profile:read,users:write
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-nxpy
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CV5KRSHJQ","name":"general","is_channel":true,"created":1583868608,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UUT9Z80AE","name_normalized":"general","is_shared":false,"is_org_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"members":["UV63Y1672","UUTA3S16E","UUT9Z80AE","UUW1CJZ41","UUUKJ03NX"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UUT9Z80AE","last_set":1583868608},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UUT9Z80AE","last_set":1583868608},"previous_names":[],"num_members":5},{"id":"CV649DWUV","name":"slack-api","is_channel":true,"created":1583868609,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UUT9Z80AE","name_normalized":"slack-api","is_shared":false,"is_org_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"members":["UV63Y1672","UUTA3S16E","UUT9Z80AE","UUW1CJZ41","UUTJAGAEN","UUUKJ03NX"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":6},{"id":"[...]
