---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=xoxb-994194201031-991926513556-7Y7hsbxaxPC2A2VTnnDC9YCz
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - ec60a294acafcedf9db817ab9330cb4f
      X-Oauth-Scopes:
      - chat:write,channels:read,users:read
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-nn9q
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CUURD2M5Z","name":"slackcli","is_channel":true,"created":1583874439,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UV85Q5X6K","name_normalized":"slackcli","is_shared":false,"is_org_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"members":["UV6A4F83S","UUW7BN96D","UV85Q5X6K","UVCHSSS20","UUUSFT2AX"],"topic":{"value":"A
        place to talk about ada homework","creator":"UUW7BN96D","last_set":1584056896},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":5},{"id":"CV85Q6S0P","name":"random","is_channel":true,"created":1583874438,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UV85Q5X6K","name_normalized":"random","is_shared":false,"is_org_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"members":["UV6A4F83S","UUW7BN96D","UV85Q5X6K","UVCHSSS20","UUUSFT2AX"],"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UV85Q5X6K","last_set":1583874438},"purpose":{"value":"A
        place for [...]
