---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?pretty=1&token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 1d808829f68ad96d86ccce52f9b7b9d9
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-suv8
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "ok": true,
            "channels": [
                {
                    "id": "CV5KNMDKN",
                    "name": "slack-cli",
                    "is_channel": true,
                    "created": 1583868526,
                    "is_archived": false,
                    "is_general": false,
                    "unlinked": 0,
                    "creator": "UV5KNL1UL",
                    "name_normalized": "slack-cli",
                    "is_shared": false,
                    "is_org_shared": false,
                    "is_member": true,
                    "is_private": false,
                    "is_mpim": false,
                    "members": [
                        "UV5KWEASY",
                        "UV5KNL1UL",
                        "UV66MLLSH",
                        "UV66H40LV"
                    ],
                    "topic": {
                        "value": "",
                        "creator": "",
                        "last_set": 0
                    },
                    "purpose": {
                        "value": "",
                        "creator": "",
                        "last_set": 0
                    },
                    "previous_names": [],
                    "num_members": 4
                },
                {
                    "id": "CV63MEVG8",
                    "name": "general",
                    "is_channel": true,
                    "created": 1583868525,
                    "is_archived": false,
                    "is_general": true,
                    "unlinked": 0,
                    "creator": "UV5KNL1UL",
                    "name_normalized": "general",
                    "is_shared": false,
                    "is_org_shared": false,
    [...]
