---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 28cc48420777b86626a97ba7362d9082
      X-Oauth-Scopes:
      - identify,channels:read,users:read,users.profile:read,chat:write,users:write,users.profile:write
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-erl2
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CV5KRSHJQ","name":"general","is_channel":true,"created":1583868608,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UUT9Z80AE","name_normalized":"general","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UUW1CJZ41","UUTA3S16E","UV63Y1672","UUUKJ03NX","UUT9Z80AE"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UUT9Z80AE","last_set":1583868608},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UUT9Z80AE","last_set":1583868608},"previous_names":[],"num_members":5},{"id":"CV649DWUV","name":"slack-api","is_channel":true,"created":1583868609,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UUT9Z80AE","name_normalized":"slack-api","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UUTJAGAEN","UUW1CJZ41","UUTA3S16E","UV63Y1672","UUUKJ03NX","UUT9Z80AE","UV3CAV859"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members"[...]
- request:
    method: get
    uri: https://slack.com/api/bogus.endpoint?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 966991ef3e9a56ecc07519ea3b0fa32a
      X-Via:
      - haproxy-www-vmz3
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"bogus.endpoint"}'
  recorded_at: Mon, 16 Mar 2020 03:01:01 GMT
recorded_with: VCR 5.1.0
