---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=xoxb-991668681700-992246719632-sZsRkPHzHzV1rdUQMVXYKdlc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - ca63e23304cec771068fa0450acd7680
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-hitr
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CUUG9HF6X","name":"general","is_channel":true,"is_group":false,"is_im":false,"created":1583865667,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"parent_conversation":null,"creator":"UUVTJ2NPK","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TUUG9GLUB"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UUVTJ2NPK","last_set":1583865667},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UUVTJ2NPK","last_set":1583865667},"previous_names":[],"num_members":1},{"id":"CUVKG668J","name":"creating-another-channel","is_channel":true,"is_group":false,"is_im":false,"created":1583954031,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"creating-another-channel","is_shared":false,"parent_conversation":null,"creator":"UUVTJ2NPK","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TUUG9GLUB"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"[...]
