---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<SLACK_BOT_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - d7f49c1caf2eb218be923f6b59c6ce41
      X-Oauth-Scopes:
      - chat:write,channels:read,users:read
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-n3sn
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CUTE4M96W","name":"general","is_channel":true,"is_group":false,"is_im":false,"created":1583872630,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"parent_conversation":null,"creator":"UV68ES05B","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TV83W4WBZ"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UV68ES05B","last_set":1583872630},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UV68ES05B","last_set":1583872630},"previous_names":[],"num_members":6},{"id":"CUTE4MTD0","name":"api-testing","is_channel":true,"is_group":false,"is_im":false,"created":1583872631,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"api-testing","is_shared":false,"parent_conversation":null,"creator":"UV68ES05B","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TV83W4WBZ"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"For
        covid testing","creator":"UV68ES05B","last_set":1583958329},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":6},{"id":"CV83W5SS3","name":"random","is_channel":true,"is_group":false,"is_im":false,"created":1583872630,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"random","is_shared":false,"parent_conversation":null,"creator":"UV68ES05B","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TV83W4WBZ"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UV68ES05B","last_set":1583872630},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"UV68ES05B","last_set":1583872630},"previous_names":[],"num_members":6}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Mon, 16 Mar 2020 03:22:52 GMT
- request:
    method: get
    uri: https://slack.com/api/bogus.endpoint?token=<SLACK_BOT_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 5e3c119a4d761c801d6c1e5004dc0110
      X-Via:
      - haproxy-www-lemb
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"bogus.endpoint"}'
  recorded_at: Mon, 16 Mar 2020 03:34:25 GMT
recorded_with: VCR 5.1.0
