---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/bogus.endpoint?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 1ecbe6f45819fb27086d9d56cc109dd1
      X-Via:
      - haproxy-www-dph4
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"bogus.endpoint"}'
  recorded_at: Mon, 16 Mar 2020 14:49:38 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 8aad180573f7adabaf2d3385689b1701
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Slack-Backend:
      - r
      X-Via:
      - haproxy-www-bylg
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CUT6XEYR0","name":"general","is_channel":true,"is_group":false,"is_im":false,"created":1583865723,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"parent_conversation":null,"creator":"UUUGBHPDH","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TV617KKKP"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UUUGBHPDH","last_set":1583865723},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UUUGBHPDH","last_set":1583865723},"previous_names":[],"num_members":5},{"id":"CUT6ZCFGS","name":"rand_channel2","is_channel":true,"is_group":false,"is_im":false,"created":1583865776,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"rand_channel2","is_shared":false,"parent_conversation":null,"creator":"UUUGBHPDH","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TV617KKKP"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"","c[...]
- request:
    method: get
    uri: https://api.slack.com/api/conversations.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - d538eed86461a02978663b6eca14ce93
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,[...]
