---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<SLACK_API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - f66519c7e1cdba46c49b0997a3dff95f
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-97nl
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CUT7CLL1Y","name":"general","is_channel":true,"created":1583866138,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UV614256C","name_normalized":"general","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UV89SRSAJ","UV614256C","UV5RH7XE0","UV828MW79","UUUTBJARH","UUTGP3482","UV5RV3UDA","UV8JVKASC"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UV614256C","last_set":1583866138},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UV614256C","last_set":1583866138},"previous_names":[],"num_members":8},{"id":"CUT7CM7M0","name":"ada-projects","is_channel":true,"created":1583866139,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UV614256C","name_normalized":"ada-projects","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UV89SRSAJ","UV614256C","UV5RH7XE0","UV828MW79","UUUTBJARH","UUTGP3482","UV5RV3UDA","UV8JVKASC"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"This
        channel is for ada-projects collaboration and communication.","creator":"UV828MW79","last_set":1584052023},"previous_names":[],"num_members":8},{"id":"CV5H594KE","name":"random","is_channel":true,"created":1583866138,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UV614256C","name_normalized":"random","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UV89SRSAJ","UV614256C","UV5RH7XE0","UV828MW79","UUUTBJARH","UUTGP3482","UV5RV3UDA","UV8JVKASC"],"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UV614256C","last_set":1583866138},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"UV614256C","last_set":1583866138},"previous_names":[],"num_members":8}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Sun, 15 Mar 2020 18:53:36 GMT
- request:
    method: get
    uri: https://slack.com/api/bogus.endpoint?token=<SLACK_API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 1fd5641369a2967e0407eff8a6a982b5
      X-Via:
      - haproxy-www-3ofd
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"bogus.endpoint"}'
  recorded_at: Sun, 15 Mar 2020 18:53:37 GMT
recorded_with: VCR 5.1.0
