---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/conversations.list?pretty=1&token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 394a884f4c508be35f79c65630292349
      X-Oauth-Scopes:
      - channels:read,chat:write,users:read
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-4kab
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "ok": true,
            "channels": [
                {
                    "id": "CUT6YR3LJ",
                    "name": "lees-test-channel",
                    "is_channel": true,
                    "is_group": false,
                    "is_im": false,
                    "created": 1583865761,
                    "is_archived": false,
                    "is_general": false,
                    "unlinked": 0,
                    "name_normalized": "lees-test-channel",
                    "is_shared": false,
                    "parent_conversation": null,
                    "creator": "UV7S06J4X",
                    "is_ext_shared": false,
                    "is_org_shared": false,
                    "shared_team_ids": [
                        "TV6151X8D"
                    ],
                    "pending_shared": [],
                    "pending_connected_team_ids": [],
                    "is_pending_ext_shared": false,
                    "is_member": false,
                    "is_private": false,
                    "is_mpim": false,
                    "topic": {
                        "value": "For having fun with the Slack API!!",
                        "creator": "UV7S06J4X",
                        "last_set": 1584080167
                    },
                    "purpose": {
                        "value": "",
                        "creator": "",
                        "last_set": 0
                    },
                    "previous_names": [],
                    "num_members": 2
                },
                {
                    "id": "CV60LA20G",
                    "name": "general",
                    "is_channel": true,
                    "is_group": false,
                    "is_im": false,
                    "created": 1583865651,
                    "is_archived": false,
                    "is_general": true,
                    "unlinked": 0,
                    "name_normalized": "general",
                    "is_shared": false,
                 [...]
- request:
    method: get
    uri: https://slack.com/api/bogus.endpoint?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 70e69879fe0497e80b5b489266194261
      X-Via:
      - haproxy-www-wqwr
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"bogus.endpoint"}'
  recorded_at: Sun, 15 Mar 2020 04:08:37 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=blah%20blah%20blah
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - d254091fcaf934301489f3066ada41a8
      X-Via:
      - haproxy-www-7q61
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"invalid_auth"}'
  recorded_at: Sun, 15 Mar 2020 04:08:37 GMT
recorded_with: VCR 5.1.0
