---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channelsfail.list?pretty=1&token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - '09d8d6443d613950d10f7e457df7ee0f'
      X-Via:
      - haproxy-www-cexh
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "ok": false,
            "error": "unknown_method",
            "req_method": "channelsfail.list"
        }
  recorded_at: Sat, 14 Mar 2020 20:20:01 GMT
recorded_with: VCR 5.1.0
