---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - ad09647060e2b41f7ee08cf68be2c72f
      X-Oauth-Scopes:
      - chat:write,channels:read,usergroups:read,users:read,chat:write.customize,chat:write.public,users:write,channels:history,groups:history,im:history,mpim:history
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-37rz
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"TV83TQ5ST","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":null,"tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"TV83TQ5ST"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"UUW5BA7EV","team_id":"TV83TQ5ST","name":"vwhwang38","deleted":false,"color":"9f69e7","real_name":"vicki","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"vicki","real_name_normalized":"vicki","display_name":"","display_name_normalized":"","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"gb8a3420bda5","first_name":"vicki","last_name":"","image_24":"https:\/\/secure.gr[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<SLACK_API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - e70d653701f35a4ab24221544902ec1c
      X-Oauth-Scopes:
      - chat:write,channels:read,usergroups:read,users:read,chat:write.customize,chat:write.public,users:write,channels:history,groups:history,im:history,mpim:history
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-7u3v
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CUTE2BDA6","name":"random","is_channel":true,"is_group":false,"is_im":false,"created":1583872559,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"random","is_shared":false,"parent_conversation":null,"creator":"UUW5BA7EV","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TV83TQ5ST"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UUW5BA7EV","last_set":1583872559},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"UUW5BA7EV","last_set":1583872559},"previous_names":[],"num_members":2},{"id":"CUUPGK1T5","name":"bot","is_channel":true,"is_group":false,"is_im":false,"created":1583872560,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"bot","is_shared":false,"parent_conversation":null,"creator":"UUW5BA7EV","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TV83TQ5ST"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"","creator":"","last_set[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.history?channel=CV8E35R5L&token=<USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 4626f51902ceef7e9015fe343e56b998
      X-Oauth-Scopes:
      - identify,channels:history,users:write,users.profile:write
      X-Accepted-Oauth-Scopes:
      - channels:history,groups:history,mpim:history,im:history,read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-z0ym
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"messages":[{"bot_id":"BV8EJ6QP8","type":"message","text":"oscar
        is getting super cute!!!!","user":"UV68W8EVB","ts":"1584298780.000100","team":"TV83TQ5ST","bot_profile":{"id":"BV8EJ6QP8","deleted":false,"name":"Time-Vicki-API
        Project","updated":1583873095,"app_id":"AUUPU6DL3","icons":{"image_36":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/bot_36.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/bot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/service_72.png"},"team_id":"TV83TQ5ST"}},{"type":"message","subtype":"bot_message","text":"hi
        cat channel","ts":"1584138353.000200","username":"vicki the cat","icons":{"emoji":":bug"},"bot_id":"BV8EJ6QP8"},{"bot_id":"BV8EJ6QP8","type":"message","text":"hi
        cat","user":"UV68W8EVB","ts":"1584133126.000100","team":"TV83TQ5ST","bot_profile":{"id":"BV8EJ6QP8","deleted":false,"name":"Time-Vicki-API
        Project","updated":1583873095,"app_id":"AUUPU6DL3","icons":{"image_36":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/bot_36.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/bot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/im[...]
