---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/bogus.call?token=<SLACK_BOT_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 55a09595dcf746f4da06efe47cc33ebf
      X-Via:
      - haproxy-www-9hkc
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"bogus.call"}'
  recorded_at: Sat, 28 Mar 2020 14:54:49 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<SLACK_BOT_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 9b9a1ad86daa3b778fd5a30d1c51c1e2
      X-Oauth-Scopes:
      - chat:write,channels:read,users:read,chat:write.public
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-nv5l
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CV4BEHPCK","name":"slackcli-stuff","is_channel":true,"is_group":false,"is_im":false,"created":1584333898,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"slackcli-stuff","is_shared":false,"parent_conversation":null,"creator":"U0101R6DJN4","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TV3215G10"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":3},{"id":"C0101BT4820","name":"general","is_channel":true,"is_group":false,"is_im":false,"created":1584333898,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"parent_conversation":null,"creator":"U0101R6DJN4","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TV3215G10"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"Company-wide
[...]
