---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/bogus.endpoint?token=<SLACK_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - aefd942b540d1ebfd300982c6ed00b55
      X-Via:
      - haproxy-www-ffos
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"bogus.endpoint"}'
  recorded_at: Mon, 16 Mar 2020 04:43:36 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<SLACK_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - d78a8cfef68b064cb8b1b57ccf04bcc5
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Slack-Backend:
      - r
      X-Via:
      - haproxy-www-69ma
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CRNUDTRQS","name":"everything","is_channel":true,"is_group":false,"is_im":false,"created":1577251090,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"everything","is_shared":false,"parent_conversation":null,"creator":"US1N1DHGQ","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TS3HWCGMD"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"Everything
        but work!","creator":"US3U562F8","last_set":1584078931},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":2},{"id":"CRQ896WKD","name":"general","is_channel":true,"is_group":false,"is_im":false,"created":1577251089,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"parent_conversation":null,"creator":"US1N1DHGQ","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TS3HWCGMD"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"Company-wide
     [...]
