---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 94e84f66e8b1d167c5aef216f5368aac
      X-Oauth-Scopes:
      - incoming-webhook,chat:write,users:read,channels:read,chat:write.public,chat:write.customize,users.profile:read,users:write,channels:history,im:history,groups:history,mpim:history
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-lemb
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"TV6151X8D","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":null,"tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"TV6151X8D"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"UUTG4NT6W","team_id":"TV6151X8D","name":"space_lee_api_project","deleted":false,"color":"e7392d","real_name":"space_lee_api_project","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"space_lee_api_project","real_name_normalized":"space_lee_api_project","display_name":"","display_name_normalized":"","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"g4d652bc1dc0","api_app_id":"AUTFW5NHG","always_active":false,"bot_id":"BUTG4NRPC","first_name":"space_lee_api_project","last_name":"","image_24":"https:\/\/secure.gravatar.com\/avatar\/4d652bc1dc012ee2969d55b3f6aab77d.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/4d652bc1dc012ee2969d55b3f6aab77d.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/4d652bc1dc012ee2969d55b3f6aab77d.jpg?s=48&d=htt[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 720400bfad9e2cbd1b51d786617bc691
      X-Oauth-Scopes:
      - incoming-webhook,chat:write,users:read,channels:read,chat:write.public,chat:write.customize,users.profile:read,users:write,channels:history,im:history,groups:history,mpim:history
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-1j27
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CUT6YR3LJ","name":"lees-test-channel","is_channel":true,"is_group":false,"is_im":false,"created":1583865761,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"lees-test-channel","is_shared":false,"parent_conversation":null,"creator":"UV7S06J4X","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TV6151X8D"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"For
        having fun with the Slack API!!","creator":"UV7S06J4X","last_set":1584080167},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":2},{"id":"CV60LA20G","name":"general","is_channel":true,"is_group":false,"is_im":false,"created":1583865651,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"parent_conversation":null,"creator":"UV7S06J4X","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TV6151X8D"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"Company-wide
    [...]
- request:
    method: get
    uri: https://slack.com/api/conversations.history
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - a8675db7a1a19f12ba3a0cae265a6df7
      X-Accepted-Oauth-Scopes:
      - conversations:history
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-ee90
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"not_authed"}'
  recorded_at: Sun, 15 Mar 2020 02:26:02 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.history?channel=CV8HLGW9L&limit=20&token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 03d257e7530f20718b294a24771b1a2c
      X-Oauth-Scopes:
      - incoming-webhook,chat:write,users:read,channels:read,chat:write.public,chat:write.customize,users.profile:read,users:write,channels:history,im:history,groups:history,mpim:history
      X-Accepted-Oauth-Scopes:
      - channels:history,groups:history,mpim:history,im:history,read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-ixj4
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"messages":[{"type":"message","subtype":"bot_add","text":"added
        an integration to this channel: <https:\/\/adacohort13group9.slack.com\/services\/B0100C7R6KW|Time
        - Hannah J - API Project>","user":"UUVTM0ZJM","bot_id":"B0100C7R6KW","bot_link":"<https:\/\/adacohort13group9.slack.com\/services\/B0100C7R6KW|Time
        - Hannah J - API Project>","ts":"1584237312.000600"},{"type":"message","subtype":"bot_add","text":"added
        an integration to this channel: <https:\/\/adacohort13group9.slack.com\/services\/B0100RZH485|Time
        - Hannah J - API Project>","user":"UUVTM0ZJM","bot_id":"B0100RZH485","bot_link":"<https:\/\/adacohort13group9.slack.com\/services\/B0100RZH485|Time
        - Hannah J - API Project>","ts":"1584236415.000500"},{"type":"message","subtype":"bot_add","text":"added
        an integration to this channel: <https:\/\/adacohort13group9.slack.com\/services\/B0102LM8NJ3|Time
        - Hannah J - API Project>","user":"UUVTM0ZJM","bot_id":"B0102LM8NJ3","bot_link":"<https:\/\/adacohort13group9.slack.com\/services\/B0102LM8NJ3|Time
        - Hannah J - API Project>","ts":"1584232799.000400"},{"type":"message","subtype":"bot_message","text":"im
        hangry!","ts":"1584231561.000300","username":"My Bot","bot_id":"BV6BLS7R6"},{"type":"message","subtype":"bot_message","text":"heyyyyyyyy!!","ts":"1584231527.000200","username":"My
        Bot","bot_id":"BV6BLS7R6"},{"type":"message","subtype":"bot_message","text":"you","ts":"1584229201.000100","username":"My
        Bot","bot_id":"BV6BLS7R6"},{"type":"message","subtype":"bot_message","text":"Hey!!
        I''m from test file","ts":"1584206287.000100","username":"My Bot","bot_id":"BV6BLS7R6"},{"type":"message","subtype":"bot_message","text":"Good
        morning!","ts":"1584170416.000200","username":"My Bot","bot_id":"BV6BLS7R6"},{"type":"message","subtype":"bot_message","text":"Good
        morning!","ts":"1584169508.000100","username":"My Bot","bot_id":"BV6BLS7R6"},{"type":"message","subtype":"bot_message","text":"Howdy","ts":"1584083197.000400","username":"My
        Bot","bot_id":"BV6BLS7R6"},{"type":"message","subtype":"bot_add","text":"added
        an integration to this channel: <https:\/\/adacohort13group9.slack.com\/services\/BVDPWD18F|Time
        - Hannah J - API Project>","user":"UUVTM0ZJM","bot_id":"BVDPWD18F","bot_link":"<https:\/\/adacohort13group9.slack.com\/services\/BVDPWD18F|Time
        - Hannah J - API Project>","ts":"1584083159.000300"},{"bot_id":"BV6BLS7R6","type":"message","text":"Howdy","user":"UV6BLS99N","ts":"1584082694.000200","team":"TV6151X8D","bot_profile":{"id":"BV6BLS7R6","deleted":false,"name":"Time
        - Hannah J - API Project","updated":1583876584,"app_id":"AUTHSAF7U","icons":{"image_36":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/bot_36.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/bot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/service_72.png"},"team_id":"TV6151X8D"}},{"bot_id":"BV6BLS7R6","type":"message","text":"Hey
        from slack api!","user":"UV6BLS99N","ts":"1584082572.000100","team":"TV6151X8D","bot_profile":{"id":"BV6BLS7R6","deleted":false,"name":"Time
        - Hannah J - API Project","updated":1583[...]
[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.history?channel=123456&limit=20&token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - e682b363322fd8d2a4f79efc9c9099ab
      X-Oauth-Scopes:
      - incoming-webhook,chat:write,users:read,channels:read,chat:write.public,chat:write.customize,users.profile:read,users:write,channels:history,im:history,groups:history,mpim:history
      X-Accepted-Oauth-Scopes:
      - channels:history,groups:history,mpim:history,im:history,read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-nhgw
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"channel_not_found"}'
  recorded_at: Sun, 15 Mar 2020 04:42:27 GMT
[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.history?channel=CV8HLGW9L&limit=10&token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 6e74f6751d84bf52a14d7edcb12bb543
      X-Oauth-Scopes:
      - identify,channels:history,groups:history,im:history,mpim:history,channels:read,im:read,users:read,users.profile:read,channels:write,chat:write,im:write,users:write,users.profile:write
      X-Accepted-Oauth-Scopes:
      - channels:history,groups:history,mpim:history,im:history,read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-a57w
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"messages":[{"type":"message","subtype":"bot_message","text":"0","ts":"1584255020.001700","username":"My
        Bot","bot_id":"BV6BLS7R6"},{"type":"message","subtype":"bot_message","text":"Is
        there anybody alive down there??!","ts":"1584254420.001600","username":"My
        Bot","bot_id":"BV6BLS7R6"},{"client_msg_id":"3a4f5ee8-5031-41b4-beba-bfb0cfbe2be4","type":"message","text":"What
        up?","user":"UUVTM0ZJM","ts":"1584253008.001500","team":"TV6151X8D","blocks":[{"type":"rich_text","block_id":"ET4F","elements":[{"type":"rich_text_section","elements":[{"type":"text","text":"What
        up?"}]}]}]},{"type":"message","subtype":"bot_message","text":"^-^","ts":"1584252991.001300","username":"My
        Bot","bot_id":"BV6BLS7R6"},{"client_msg_id":"065ceec8-02f7-495f-bfe6-aa39fae62b43","type":"message","text":"Coding
        is awesome","user":"UUVTM0ZJM","ts":"1584252923.001200","team":"TV6151X8D","blocks":[{"type":"rich_text","block_id":"P\/yHz","elements":[{"type":"rich_text_section","elements":[{"type":[...]
[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<SLACK_TOKEN>&types=im
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 75e4004eedaa9be25ffcafd136c24a96
      X-Oauth-Scopes:
      - identify,channels:history,groups:history,im:history,mpim:history,channels:read,im:read,users:read,users.profile:read,channels:write,chat:write,im:write,users:write,users.profile:write
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-w90z
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"D0100ST4T6U","created":1584243619,"is_archived":false,"is_im":true,"is_org_shared":false,"user":"U0102NT1RE3","is_user_deleted":false,"priority":0},{"id":"DVDHLE1HC","created":1584051605,"is_archived":false,"is_im":true,"is_org_shared":false,"user":"UVDHLDG0N","is_user_deleted":false,"priority":0},{"id":"DVAVBL4B0","created":1583963654,"is_archived":false,"is_im":true,"is_org_shared":false,"user":"UV8PPJX37","is_user_deleted":false,"priority":0},{"id":"DV8ABAGA0","created":1583964279,"is_archived":false,"is_im":true,"is_org_shared":false,"user":"UV8Q8T6S1","is_user_deleted":false,"priority":0},{"id":"DV873FZ2T","created":1583875972,"is_a[...]
[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.history?channel=DV7S3M8LF&limit=10&token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 5e888463d06bec834d2fce9891338cf8
      X-Oauth-Scopes:
      - identify,channels:history,groups:history,im:history,mpim:history,channels:read,im:re[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.history?channel=&limit=10&token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - d37ba86b8349cc360dc890cf415ae9fd
      X-Oauth-Scopes:
      - identify,channels:history,groups:history,im:history,mpim:history,channels:read,im:read,users:read,users.profile:read,channels:write,chat:write,im:write,users:write,users.profile:write
      X-Accepted-Oauth-Scopes:
      - channels:history,groups:history,mpim:history,im:history,read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-7z9c
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"channel_not_found"}'
  recorded_at: Mon, 16 Mar 2020 08:31:05 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.history?channel%5B%5D%5Bconverstaion_id%5D=D0100ST4T6U&channel%5B%5D%5Bslack_id%5D=U0102NT1RE3&channel%5B%5D%5Bconverstaion_id%5D=DVDHLE1HC&channel%5B%5D%5Bslack_id%5D=UVDHLDG0N&channel%5B%5D%5Bconverstaion_id%5D=DVAVBL4B0&channel%5B%5D%5Bslack_id%5D=UV8PPJX37&channel%5B%5D%5Bconverstaion_id%5D=DV8ABAGA0&channel%5B%5D%5Bslack_id%5D=UV8Q8T6S1&channel%5B%5D%5Bconverstaion_id%5D=DV873FZ2T&channel%5B%5D%5Bslack_id%5D=UV6BN9RTP&c[...]
