---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/conversations.history?body%5Bchannel%5D=USLACKBOT&body%5Blimit%5D=5&body%5Btoken%5D=<SLACK_TOKEN>&headers%5BContent-Type%5D=application/x-www-form-urlencoded
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 8b97b2dc7e69bedb27b112a3f3ae027c
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-eidd
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"invalid_array_arg"}'
  recorded_at: Sat, 14 Mar 2020 05:17:08 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.history?body%5Bchannel%5D=bogus&body%5Blimit%5D=5&body%5Btoken%5D=<SLACK_TOKEN>&headers%5BContent-Type%5D=application/x-www-form-urlencoded
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 7f74578b91fa68c303d18b6e99ed2283
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-ksz3
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"invalid_array_arg"}'
  recorded_at: Sat, 14 Mar 2020 05:17:09 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.history?body%5Bchannel%5D=CV5S4LJPN&body%5Blimit%5D=5&body%5Btoken%5D=<SLACK_TOKEN>&headers%5BContent-Type%5D=application/x-www-form-urlencoded
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 1fd34060458b586a7919170c7f9ed4bb
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-9611
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"invalid_array_arg"}'
  recorded_at: Sat, 14 Mar 2020 05:20:29 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.history?body%5Bchannel%5D=bogus&body%5Blimit%5D=5&body%5Btoken%5D=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - a62461541170c45603f2ae5556c1b125
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-a57w
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"invalid_array_arg"}'
  recorded_at: Sat, 14 Mar 2020 05:27:01 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.history?body%5Bchannel%5D=CV5S4LJPN&body%5Blimit%5D=5&body%5Btoken%5D=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 430c36cee149cc10d02050789e07e986
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-0slb
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"invalid_array_arg"}'
  recorded_at: Sat, 14 Mar 2020 05:27:01 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.history?channel=CV5S4LJPN&limit=5&token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - e3221514bdb3551bb2b0185787e3f185
      X-Oauth-Scopes:
      - users:read,channels:read,chat:write,chat:write.customize,chat:write.public,im:history,channels:history,mpim:history,groups:history
      X-Accepted-Oauth-Scopes:
      - channels:history,groups:history,mpim:history,im:history,read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-270m
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"messages":[{"type":"message","subtype":"channel_join","ts":"1584155533.000300","user":"UUTRYS550","text":"<@UUTRYS550>
        has joined the channel","inviter":"UV6AV2NRW"},{"bot_id":"BUUTK5P1R","type":"message","text":"Lunch
        greetings from Postman","user":"UUTJ4SJ74","ts":"1584144909.000100","team":"TV6AN59D3","bot_profile":{"id":"BUUTK5P1R","deleted":false,"name":"coapp","updated":1583876936,"app_id":"AV872DJF9","icons":{"image_36":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/bot_36.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/bot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/service_72.png"},"team_id":"TV6AN59D3"}},{"type":"message","subtype":"channel_join","ts":"1584062865.000400","user":"UV6B4M5LM","text":"<@UV6B4M5LM>
        has joined the channel","inviter":"UUW7LV8TB"},{"bot_id":"BUUTK5P1R","type":"message","text":"more
        love &lt;3","user":"UUTJ4SJ74","ts":"1584052305.000200","team":"TV6AN59D3","bot_profile":{"id":"BUUTK5P1R","deleted":false,"name":"coapp","updated":1583876936,"app_id":"AV872DJF9","icons":{"image_36":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/bot_36.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/bot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/service_72.png"},"team_id":"TV6AN59D3"}},{"bot_id":"BUY8R1AFK","type":"message","text":"Love
        from slack","user":"UUW7LV8TB","ts":"1584050240.000100","team":"TV6AN59D3","bot_profile":{"id":"BUY8R1AFK","deleted":false,"name":"habenUp","updated":1583952259,"app_id":"AV5SEU92Q","icons":{"image_36":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/bot_36.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/bot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/service_72.png"},"team_id":"TV6AN59D3"}}],"has_more":true,"pin_count":0,"channel_actions_ts":null,"channel_actions_count":0,"response_metadata":{"next_cursor":"bmV4dF90czoxNTgzOTg4MDI0MDA0NzAw"}}'
  recorded_at: Sat, 14 Mar 2020 05:31:09 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.history?channel=bogus&limit=5&token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 884e8793587e583c539bcc3c2f758439
      X-Oauth-Scopes:
      - users:read,channels:read,chat:write,chat:write.customize,chat:write.public,im:history,channels:history,mpim:history,groups:history
      X-Accepted-Oauth-Scopes:
      - channels:history,groups:history,mpim:history,im:history,read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-vmz3
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"channel_not_found"}'
  recorded_at: Sat, 14 Mar 2020 05:31:09 GMT
recorded_with: VCR 5.1.0
