---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/lololthisisntreal?token=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - '029e925174de1ddfab99fcc1deec76ff'
      X-Via:
      - haproxy-www-fmpy
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"lololthisisntreal"}'
  recorded_at: Mon, 16 Mar 2020 02:42:52 GMT
recorded_with: VCR 5.1.0
