---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/fail.list?token=<Key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - def8f1ec156aabe7c480cc96174035d7
      X-Via:
      - haproxy-www-2uu3
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"fail.list"}'
  recorded_at: Mon, 16 Mar 2020 00:15:16 GMT
recorded_with: VCR 5.1.0
