---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 56551ee3084cd17c964d986348f430cf
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-ohe7
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CUT6YR3LJ","name":"lees-test-channel","is_channel":true,"created":1583865761,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UV7S06J4X","name_normalized":"lees-test-channel","is_shared":false,"is_org_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"members":["UUTG4NT6W","UV7S06J4X"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":2},{"id":"CV60LA20G","name":"general","is_channel":true,"created":1583865651,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UV7S06J4X","name_normalized":"general","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UUVTM0ZJM","UV7S06J4X","UV6BN9RTP"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UV7S06J4X","last_set":1583865651},"purpose":{"value":"This
        channel is for workspace-wi[...]
- request:
    method: get
    uri: https://slack.com/api/channels.list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 4b13cc6e8528b5960706fe8bdbdcf2ea
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-4tm2
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"not_authed"}'
  recorded_at: Wed, 11 Mar 2020 02:22:44 GMT
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 4bf54188b933591971286d60735dcfbf
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-ty4a
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"not_authed"}'
  recorded_at: Wed, 11 Mar 2020 02:23:28 GMT
recorded_with: VCR 5.1.0
