---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 6b58a576a580e4531dd314c9d3934104
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-ehwu
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CUVFN5GQ1","name":"general","is_channel":true,"created":1583855502,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UUVFN4E1X","name_normalized":"general","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UUVFN4E1X"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UUVFN4E1X","last_set":1583855502},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UUVFN4E1X","last_set":1583855502},"previous_names":[],"num_members":1},{"id":"CV54SHGHJ","name":"ada-slack-cli","is_channel":true,"created":1583855502,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UUVFN4E1X","name_normalized":"ada-slack-cli","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UUVFN4E1X"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":1},{"id":"CV5J58KCG","name":"random","is_channel":true,"created":1583855502,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UUVFN4E1X","name_normalized":"random","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UUVFN4E1X"],"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UUVFN4E1X","last_set":1583855502},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"UUVFN4E1X","last_set":1583855502},"previous_names":[],"num_members":1}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Thu, 12 Mar 2020 18:24:04 GMT
recorded_with: VCR 5.1.0
