---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<MY_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - bb99d060d17861a27796afb9211bd777
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-lxhd
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CV5GLCW12","name":"general","is_channel":true,"is_group":false,"is_im":false,"created":1583865622,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"parent_conversation":null,"creator":"UV5GLBZT6","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TUVTGCG8H"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UV5GLBZT6","last_set":1583865622},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UV5GLBZT6","last_set":1583865622},"previous_names":[],"num_members":5},{"id":"CV5GLDJ9J","name":"slack-bot","is_channel":true,"is_group":false,"is_im":false,"created":1583865623,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"slack-bot","is_shared":false,"parent_conversation":null,"creator":"UV5GLBZT6","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TUVTGCG8H"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"A
        pla[...]
