---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=SLACK_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 3ee6fefcae1e9b598f0a116f8aac9ebc
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-9hkc
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CV5KNMDKN","name":"slack-cli","is_channel":true,"created":1583868526,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UV5KNL1UL","name_normalized":"slack-cli","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UV5KWEASY","UV66H40LV","UV5KNL1UL","UV66MLLSH"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":4},{"id":"CV63MEVG8","name":"general","is_channel":true,"created":1583868525,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UV5KNL1UL","name_normalized":"general","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UV5KWEASY","UUV2F0L67","UV66H40LV","UV5KNL1UL","UV66MLLSH"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UV5KNL1UL","last_set":1583868525},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UV5KNL1UL","last_set":1583868525},"previous_names":[],"num_members":5},{"id":"CV63MEZTJ","name":"random","is_channel":true,"created":1583868525,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UV5KNL1UL","name_normalized":"random","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UV5KWEASY","UV66H40LV","UV5KNL1UL","UV66MLLSH"],"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UV5KNL1UL","last_set":1583868525},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"UV5KNL1UL","last_set":1583868525},"previous_names":[],"num_members":4}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Sat, 14 Mar 2020 02:30:23 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=SLACK_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - c3fe3815ca995cf381fed2d517ce11b4
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-erl2
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CV5KNMDKN","name":"slack-cli","is_channel":true,"is_group":false,"is_im":false,"created":1583868526,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"slack-cli","is_shared":false,"parent_conversation":null,"creator":"UV5KNL1UL","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TV5KNL1LL"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":4},{"id":"CV63MEVG8","name":"general","is_channel":true,"is_group":false,"is_im":false,"created":1583868525,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"parent_conversation":null,"creator":"UV5KNL1UL","is_ext_shared":false,"is_org_shared":false,"shared_team_i[...]
- request:
    method: get
    uri: https://slack.com/api/whatever?token=SLACK_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 4c5b5f72082f6debbdb5daec0dd21448
      X-Via:
      - haproxy-www-t3yn
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"whatever"}'
  recorded_at: Sat, 14 Mar 2020 03:18:59 GMT
recorded_with: VCR 5.1.0
