---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?pretty=1&token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 9d08dc04606de599ddc29bbe9311da10
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-4usq
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "ok": true,
            "channels": [
                {
                    "id": "CUTE4M96W",
                    "name": "general",
                    "is_channel": true,
                    "created": 1583872630,
                    "is_archived": false,
                    "is_general": true,
                    "unlinked": 0,
                    "creator": "UV68ES05B",
                    "name_normalized": "general",
                    "is_shared": false,
                    "is_org_shared": false,
                    "is_member": true,
                    "is_private": false,
                    "is_mpim": false,
                    "members": [
                        "UUTK13WE6",
                        "UV5UMJ4F6",
                        "UUW5E7SF3",
                        "UV68ES05B"
                    ],
                    "topic": {
                        "value": "Company-wide announcements and work-based matters",
                        "creator": "UV68ES05B",
                        "last_set": 1583872630
                    },
                    "purpose": {
                        "value": "This channel is for workspace-wide communication and announcements. All members are in this channel.",
                        "creator": "UV68ES05B",
                        "last_set": 1583872630
                    },
                    "previous_names": [],
                    "num_members": 4
                },
                {
                    "id": "CUTE4MTD0",
                    "name": "api-testing",
                    "is_channel": true,
                    "created": 1583872631,
                    "is_archived": false,
                    "is_general": false,
                    "unlinked": 0,
                    "creator": "UV68ES05B",
                    "name_normalized": "api-testing",
                    "is_shared": false,
                    "is_org_shared": fa[...]
