---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/bogus.call?token=SLACK_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 5d47aaea1e34a601b345fe287c6b9031
      X-Via:
      - haproxy-www-9hkc
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"bogus.call"}'
  recorded_at: Sat, 14 Mar 2020 03:33:47 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=SLACK_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 1318b641763b7eda779c7a1f179c93b3
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-97nl
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CV5KRSHJQ","name":"general","is_channel":true,"is_group":false,"is_im":false,"created":1583868608,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"parent_conversation":null,"creator":"UUT9Z80AE","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TV63QKAAU"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UUT9Z80AE","last_set":1583868608},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UUT9Z80AE","last_set":1583868608},"previous_names":[],"num_members":5},{"id":"CV649DWUV","name":"slack-api","is_channel":true,"is_group":false,"is_im":false,"created":1583868609,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"slack-api","is_shared":false,"parent_conversation":null,"creator":"UUT9Z80AE","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TV63QKAAU"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"","creator":"[...]
