---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/bogus.call?token=<LOCATIONIQ_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 821f3af794213a9b16ebac3b01cf18f4
      X-Via:
      - haproxy-www-ws1c
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"bogus.call"}'
  recorded_at: Sat, 14 Mar 2020 02:12:44 GMT
recorded_with: VCR 5.1.0
