---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<HABEN_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 69fb72ca18571848b0f667901f1eb325
      X-Oauth-Scopes:
      - chat:write,channels:read,users:read
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-s0si
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CUW7M14MP","name":"a-slack-command-line-app","is_channel":true,"created":1583874857,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UUW7LV8TB","name_normalized":"a-slack-command-line-app","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UUW7LV8TB","UV6AV2NRW","UV8GPTF5L","UV6BANLCV","UV868PVCP","UV6B4M5LM"],"topic":{"value":"Team
        chat","creator":"UUW7LV8TB","last_set":1584060461},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":6},{"id":"CV5S4LJPN","name":"general","is_channel":true,"created":1583874857,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UUW7LV8TB","name_normalized":"general","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UUW7LV8TB","UUTJ4SJ74","UV6AV2NRW","UV8GPTF5L","UV6BANLCV","UV868PVCP","UV6B4M5LM"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UUW7LV8TB","last_set":1583874857},"purpose":{"[...]
- request:
    method: get
    uri: https://slack.com/api/bogus.call?token=<HABEN_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - a8bbcb76d21334f1a760f2102c6b9817
      X-Via:
      - haproxy-www-qort
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"bogus.call"}'
  recorded_at: Fri, 13 Mar 2020 23:08:30 GMT
recorded_with: VCR 5.1.0
