---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - ed38719a97c2892f8af6c7b12b0e3e7a
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-vmz3
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"TV83W4WBZ","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":null,"tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"TV83W4WBZ"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"UUTK13WE6","team_id":"TV83W4WBZ","name":"yesentorres","deleted":false,"color":"674b1b","real_name":"Yesenia
        Torres","tz":"America\/Los_Angeles","tz_label":"Pacific Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Yesenia
        Torres","real_name_normalized":"Yesenia Torres","display_name":"Yesenia Torres","display_name_normalized":"Yesenia
        Torres","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"gb1d9884[...]
- request:
    method: get
    uri: https://slack.com/api/bogus.endpoint?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - f74b622840183654e4deaa46db98344f
      X-Via:
      - haproxy-www-vmz3
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"bogus.endpoint"}'
  recorded_at: Fri, 13 Mar 2020 17:21:03 GMT
recorded_with: VCR 5.1.0
