---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 456de79ae5bba6be5f5e45da314ef368
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-5mc5
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CUTE4M96W","name":"general","is_channel":true,"created":1583872630,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UV68ES05B","name_normalized":"general","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UUW5E7SF3","UV68ES05B","UV5UMJ4F6","UUTK13WE6"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UV68ES05B","last_set":1583872630},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UV68ES05B","last_set":1583872630},"previous_names":[],"num_members":4},{"id":"CUTE4MTD0","name":"api-testing","is_channel":true,"created":1583872631,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UV68ES05B","name_normalized":"api-testing","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UUW5E7SF3","UV68ES05B","UV5UMJ4F6","UUTK13WE6"],"topic":{"value":"For
        covid testing","creator":"UV68ES05B","last_set":1583958329},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":4},{"id":"CV83W5SS3","name":"random","is_channel":true,"created":1583872630,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UV68ES05B","name_normalized":"random","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UUW5E7SF3","UV68ES05B","UV5UMJ4F6","UUTK13WE6"],"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UV68ES05B","last_set":1583872630},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"UV68ES05B","last_set":1583872630},"previous_names":[],"num_members":4}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Thu, 12 Mar 2020 20:15:20 GMT
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - ef4a70e16391a19e20c2f59c9da81eb7
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-hynk
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"TV83W4WBZ","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":null,"tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"TV83W4WBZ"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"UUTK13WE6","team_id":"TV83W4WBZ","name":"yesentorres","deleted":false,"color":"674b1b","real_name":"Yesenia
        Torres","tz":"America\/Los_Angeles","tz_label":"Pacific Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Yesenia
        Torres","real_name_normalized":"Yesenia Torres","display_name":"Yesenia Torres","display_name_normalized":"Yesenia
        Torres","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"gb1d9884[...]
- request:
    method: get
    uri: https://slack.com/api/bad.sub.url?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 00db45055cf5990c04dbae920c9fd514
      X-Via:
      - haproxy-www-6ve8
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"bad.sub.url"}'
  recorded_at: Fri, 13 Mar 2020 22:19:33 GMT
recorded_with: VCR 5.1.0
