---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=xoxb-991668681700-992246719632-sZsRkPHzHzV1rdUQMVXYKdlc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 9645de9ae16b4ee73803369deede62a0
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-wl4e
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"TUUG9GLUB","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":null,"tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"TUUG9GLUB"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"UUVTJ2NPK","team_id":"TUUG9GLUB","name":"quinruby0","deleted":false,"color":"9f69e7","real_name":"quin","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"quin","real_name_normalized":"quin","display_name":"qq","display_name_normalized":"qq","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"ge32b4d91cd0","first_name":"quin","last_name":"","image_24":"https:\/\/secure.gr[...]
