---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - f6e860cda69f747b08193089d9422a17
      X-Oauth-Scopes:
      - chat:write,chat:write.customize,chat:write.public,channels:read,users:read
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-5mc5
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CUT6XEYR0","name":"general","is_channel":true,"created":1583865723,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UUUGBHPDH","name_normalized":"general","is_shared":false,"is_org_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"members":["UV5GT0PBN","UUT7ESHPU","UV5KULM28","UUWHGFP25","UUUGBHPDH"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UUUGBHPDH","last_set":1583865723},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UUUGBHPDH","last_set":1583865723},"previous_names":[],"num_members":5},{"id":"CUT6ZCFGS","name":"rand_channel2","is_channel":true,"created":1583865776,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UUUGBHPDH","name_normalized":"rand_channel2","is_shared":false,"is_org_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"members":["UUUGBHPDH"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":1},{"id":"CUUGBK77D","name":"slack-api-project","is_channel":t[...]
