---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<SLACK_API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 5de736f27e8ba2f9f896269489289715
      X-Oauth-Scopes:
      - chat:write,channels:read,usergroups:read,users:read,chat:write.customize,chat:write.public
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Slack-Backend:
      - r
      X-Via:
      - haproxy-www-xfo1
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CUTE2BDA6","name":"random","is_channel":true,"is_group":false,"is_im":false,"created":1583872559,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"random","is_shared":false,"parent_conversation":null,"creator":"UUW5BA7EV","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TV83TQ5ST"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UUW5BA7EV","last_set":1583872559},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"UUW5BA7EV","last_set":1583872559},"previous_names":[],"num_members":1},{"id":"CUUPGK1T5","name":"bot","is_channel":true,"is_group":false,"is_im":false,"created":1583872560,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"bot","is_shared":false,"parent_conversation":null,"creator":"UUW5BA7EV","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TV83TQ5ST"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"","creator":"","last_set[...]
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - a7a789ddebae490d9be8e10323472a40
      X-Oauth-Scopes:
      - chat:write,channels:read,usergroups:read,users:read,chat:write.customize,chat:write.public
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Slack-Backend:
      - r
      X-Via:
      - haproxy-www-0hw9
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"TV83TQ5ST","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":null,"tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"TV83TQ5ST"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"UUW5BA7EV","team_id":"TV83TQ5ST","name":"vwhwang38","deleted":false,"color":"9f69e7","real_name":"vwhwang38","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"vwhwang38","real_name_normalized":"vwhwang38","display_name":"","display_name_normalized":"","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"gb8a3420bda5","image_24":"https:\/\/secure.gravatar.com\/avatar\/b8a3[...]
