---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?token=SLACK_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - d8b0520d8bceec37474c19df1a107919
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-0hw9
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CUURD2M5Z","name":"slackcli","is_channel":true,"created":1583874439,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UV85Q5X6K","name_normalized":"slackcli","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UV6A4F83S","UUUSFT2AX","UV85Q5X6K","UUW7BN96D"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":4},{"id":"CV85Q6S0P","name":"random","is_channel":true,"created":1583874438,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UV85Q5X6K","name_normalized":"random","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UV6A4F83S","UUUSFT2AX","UV85Q5X6K","UUW7BN96D"],"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UV85Q5X6K","last_set":1583874438},"purpose":{"value":"A
        place for non-work-rela[...]
