---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?pretty=1&token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - '01781b0855d297ab0360fa0f548d4013'
      X-Oauth-Scopes:
      - chat:write,channels:read,users:read
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-o4r2
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "ok": true,
            "members": [
                {
                    "id": "USLACKBOT",
                    "team_id": "TUWQDQ9PV",
                    "name": "slackbot",
                    "deleted": false,
                    "color": "757575",
                    "real_name": "Slackbot",
                    "tz": null,
                    "tz_label": "Pacific Daylight Time",
                    "tz_offset": -25200,
                    "profile": {
                        "title": "",
                        "phone": "",
                        "skype": "",
                        "real_name": "Slackbot",
                        "real_name_normalized": "Slackbot",
                        "display_name": "Slackbot",
                        "display_name_normalized": "Slackbot",
                        "fields": null,
                        "status_text": "",
                        "status_emoji": "",
                        "status_expiration": 0,
                        "avatar_hash": "sv41d8cd98f0",
                        "always_active": true,
                        "first_name": "slackbot",
                        "last_name": "",
                        "image_24": "https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png",
                        "image_32": "https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png",
                        "image_48": "https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png",
                        "image_72": "https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png",
                        "image_192": "https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png",
                        "image_512": "https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png",
                        "status_text_canonical": "",
                        "team": "TUWQDQ9PV"
                    },
                    "is_admin": false,
                    "is_owner": false,
                    "is_primary_owner": false,
                    "is_restricted": false,
                    "is_ultra_restricted": false,
                    "is_bot": false,
                    "is_app_user": false,
                    "updated": 0
                },
                {
                    "id": "UUVEZ4474",
                    "team_id": "TUWQDQ9PV",
                    "name": "faezeh.ashtiani",
                    "deleted": false,
                    "color": "9f69e7",
                    "real_name": "faezeh.ashtiani",
                    "tz": "America\/Los_Angeles",
                    "tz_label": "Pacific Daylight Time",
                    "tz_offset": -25200,
                    "profile": {
                    [...]
- request:
    method: get
    uri: https://slack.com/api/bogus.endpoint?pretty=1&token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 27bec2fec3bcd580722488a46e031840
      X-Via:
      - haproxy-www-7q06
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "ok": false,
            "error": "unknown_method",
            "req_method": "bogus.endpoint"
        }
  recorded_at: Sun, 15 Mar 2020 01:51:53 GMT
- request:
    method: get
    uri: https://slack.com/api/bogus.endpoint?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 0ddd2ecee45d705904cd3829279e303a
      X-Via:
      - haproxy-www-zesd
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"bogus.endpoint"}'
  recorded_at: Sun, 15 Mar 2020 02:04:10 GMT
- request:
    method: get
    uri: https://slack.com/api/users.list?token=blah%20blah%20blah
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 5143c9dfe39675d1b857f084decf6c8d
      X-Via:
      - haproxy-www-8ijn
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"invalid_auth"}'
  recorded_at: Sun, 15 Mar 2020 02:04:10 GMT
- request:
    method: get
    uri: https://slack.com/api/users.list?pretty=1&token=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 37e9311c3b00d788f9a549b540e48317
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-2nvs
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "ok": false,
            "error": "not_authed"
        }
  recorded_at: Sun, 15 Mar 2020 03:24:28 GMT
recorded_with: VCR 5.1.0
