---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 6e23c479bea15b59bdbc901e7f7f9560
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Slack-Backend:
      - r
      X-Via:
      - haproxy-www-dyrq
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"not_authed"}'
  recorded_at: Wed, 11 Mar 2020 03:30:00 GMT
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 2ce08e723b08438d6ff8b98e1bf7e044
      X-Oauth-Scopes:
      - users:read,channels:read,chat:write,chat:write.customize
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-xfo1
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"TV6AN59D3","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":null,"tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"TV6AN59D3"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"UUTJ4SJ74","team_id":"TV6AN59D3","name":"coapp","deleted":false,"color":"e0a729","real_name":"coapp","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"coapp","real_name_normalized":"coapp","display_name":"","display_name_normalized":"","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"g9834be47962","api_app_id":"AV872DJF9","always_active":false,"bot_id":"BUUTK5P1R","image_24":"https:\/\/secure.gravatar.com\/avatar\/9834be479621e684435385d06a68fab4.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/9834be479621e684435385d06a68fab4.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/9834be479621e684435385d06a68fab4.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%[...]
- request:
    method: get
    uri: https://slack.com/api/users.list?token=bogus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - df6f242de66e1953b2d8d6fd703dccb5
      X-Via:
      - haproxy-www-a63k
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"invalid_auth"}'
  recorded_at: Wed, 11 Mar 2020 03:37:23 GMT
- request:
    method: get
    uri: https://slack.com/api/users.list?token=foo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 1ed47ab1a861cfdbd4b296ff3cbd7d90
      X-Via:
      - haproxy-www-dyrq
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"invalid_auth"}'
  recorded_at: Wed, 11 Mar 2020 03:40:33 GMT
- request:
    method: get
    uri: https://slack.com/api/users.list?key=foo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 63fda308ba4fec8321451bafb2274912
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-zuf3
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"not_authed"}'
  recorded_at: Wed, 11 Mar 2020 03:47:17 GMT
- request:
    method: get
    uri: https://slack.com/api/users.list?key=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 0cd228f192d1490fcd5348d6bc21ebaf
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-2zn9
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"not_authed"}'
  recorded_at: Wed, 11 Mar 2020 03:54:39 GMT
recorded_with: VCR 5.1.0
