---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/usersfail.list?pretty=1&token=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - a33d6eaec123b5c97cbe4ece9f7f39c7
      X-Via:
      - haproxy-www-0b65
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "ok": false,
            "error": "unknown_method",
            "req_method": "usersfail.list"
        }
  recorded_at: Sat, 14 Mar 2020 20:07:52 GMT
[...]
- request:
    method: get
    uri: https://slack.com/api/usersfail.list?pretty=1&token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 8e976dc532f6306abf4fc14c3d935ddd
      X-Via:
      - haproxy-www-2zn9
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "ok": false,
            "error": "unknown_method",
            "req_method": "usersfail.list"
        }
  recorded_at: Sat, 14 Mar 2020 20:10:18 GMT
[...]
- request:
    method: get
    uri: https://slack.com/api/usersfail.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 62751c927b971f3570f95d615e234d46
      X-Via:
      - haproxy-www-kmep
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"usersfail.list"}'
  recorded_at: Mon, 23 Mar 2020 19:31:30 GMT
recorded_with: VCR 5.1.0
