---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/bogus.endpoint?token=<SLACK_BOT_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 196639a7c358d19dcef733bad9b0178b
      X-Via:
      - haproxy-www-je5i
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"bogus.endpoint"}'
  recorded_at: Sat, 28 Mar 2020 14:54:49 GMT
recorded_with: VCR 5.1.0
