---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/bogus.endpoint?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 913d2b7a92f4a481a264111f076551f2
      X-Via:
      - haproxy-www-irjv
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"bogus.endpoint"}'
  recorded_at: Mon, 16 Mar 2020 00:55:19 GMT
recorded_with: VCR 5.1.0
