---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/users.list?token=
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - ebe51dfc95179c3d7fd8980b95ea3e34
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-dr0n
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"not_authed"}'
  recorded_at: Wed, 11 Mar 2020 17:19:14 GMT
- request:
    method: post
    uri: https://slack.com/api/users.list?token=<SLACK_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - '07193e871c1a24accf39ae0609296ba2'
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-ij90
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"TV5J577FS","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":null,"tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"TV5J577FS"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"UUSV2BNFL","team_id":"TV5J577FS","name":"time_jocelyn_api_proj","deleted":false,"color":"4bbe2e","real_name":"time_jocelyn_api_proj","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"time_jocelyn_api_proj","real_name_normalized":"time_jocelyn_api_proj","display_name":"","display_name_normalized":"","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"g3a876ad0016","api_app_id":"AV7JK42UX","always_active":false,"bot_id":"BV59F503E","image_24":"https:\/\/secure.gravatar.com\/avatar\/3a876ad001686576f8808e2ddde43d43.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0008-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/3a876ad001686576f8808e2ddde43d43.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0008-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/3a876ad001686576f8808e2ddde43d43.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%[...]
- request:
    method: post
    uri: https://slack.com/api/channels.list?token=<SLACK_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 077ec161c548321dba4d96a689083edb
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Accepted-Oauth-Scopes:
      - channels:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-wqwr
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CUVFN5GQ1","name":"general","is_channel":true,"created":1583855502,"is_archived":false,"is_general":true,"unlinked":0,"creator":"UUVFN4E1X","name_normalized":"general","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UUVFN4E1X"],"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UUVFN4E1X","last_set":1583855502},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UUVFN4E1X","last_set":1583855502},"previous_names":[],"num_members":1},{"id":"CV54SHGHJ","name":"ada-slack-cli","is_channel":true,"created":1583855502,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UUVFN4E1X","name_normalized":"ada-slack-cli","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UUVFN4E1X"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":1},{"id":"CV5J58KCG","name":"random","is_channel":true,"created":1583855502,"is_archived":false,"is_general":false,"unlinked":0,"creator":"UUVFN4E1X","name_normalized":"random","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"members":["UUVFN4E1X"],"topic":{"value":"Non-work
        banter and water cooler conversation","creator":"UUVFN4E1X","last_set":1583855502},"purpose":{"value":"A
        place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber
        you''d prefer to keep out of more focused work-related channels.","creator":"UUVFN4E1X","last_set":1583855502},"previous_names":[],"num_members":1}],"response_metadata":{"next_cursor":""}}'
  recorded_at: Wed, 11 Mar 2020 17:20:15 GMT
[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.invite?channel=CUVFN5GQ1&token=xoxp-991617245536-981532150065-981845515265-fa3631f87f94ba6c2f1ab1ef8ff4004c&users=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 3a8f76e87f63027f6c298c3878a20749
      X-Oauth-Scopes:
      - identify,channels:read,users:read,channels:write,chat:write,groups:write,im:write,mpim:write
      X-Accepted-Oauth-Scopes:
      - channels:write,groups:write,mpim:write,im:write,post
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-thfe
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"no_user"}'
  recorded_at: Fri, 13 Mar 2020 02:39:56 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.invite?channel=CUVFN5GQ1&token=xoxp-991617245536-981532150065-981845515265-fa3631f87f94ba6c2f1ab1ef8ff4004c&users=UUSV2BNFL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - a8a5306ac7ab57eaeb31b1229963994d
      X-Oauth-Scopes:
      - identify,channels:read,users:read,channels:write,chat:write,groups:write,im:write,mpim:write
      X-Accepted-Oauth-Scopes:
      - channels:write,groups:write,mpim:write,im:write,post
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-bylg
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"already_in_channel","errors":[{"user":"UUSV2BNFL","ok":false,"error":"already_in_channel"}]}'
  recorded_at: Fri, 13 Mar 2020 02:39:56 GMT
[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.invite?channel=CV54SHGHJ&token=xoxp-991617245536-981532150065-981845515265-fa3631f87f94ba6c2f1ab1ef8ff4004c&users=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 7f05772de263f7f35f5ca3e994d5e3af
      X-Oauth-Scopes:
      - identify,channels:read,users:read,channels:write,chat:write,groups:write,im:write,mpim:write
      X-Accepted-Oauth-Scopes:
      - channels:write,groups:write,mpim:write,im:write,post
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-03b7
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"no_user"}'
  recorded_at: Fri, 13 Mar 2020 02:39:56 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.invite?channel=CV54SHGHJ&token=xoxp-991617245536-981532150065-981845515265-fa3631f87f94ba6c2f1ab1ef8ff4004c&users=UUSV2BNFL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - f188f453dfe2a009636755ef198043fe
      X-Oauth-Scopes:
      - identify,channels:read,users:read,channels:write,chat:write,groups:write,im:write,mpim:write
      X-Accepted-Oauth-Scopes:
      - channels:write,groups:write,mpim:write,im:write,post
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-2uu3
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"already_in_channel","errors":[{"user":"UUSV2BNFL","ok":false,"error":"already_in_channel"}]}'
  recorded_at: Fri, 13 Mar 2020 02:39:57 GMT
[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.invite?channel=CV5J58KCG&token=xoxp-991617245536-981532150065-981845515265-fa3631f87f94ba6c2f1ab1ef8ff4004c&users=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 8bf7cf9b3669ad823eb8213364708eba
      X-Oauth-Scopes:
      - identify,channels:read,users:read,channels:write,chat:write,groups:write,im:write,mpim:write
      X-Accepted-Oauth-Scopes:
      - channels:write,groups:write,mpim:write,im:write,post
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-m3ns
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"no_user"}'
  recorded_at: Fri, 13 Mar 2020 02:39:57 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.invite?channel=CV5J58KCG&token=xoxp-991617245536-981532150065-981845515265-fa3631f87f94ba6c2f1ab1ef8ff4004c&users=UUSV2BNFL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 4f221effcab0bed26f836d31ba0d69da
      X-Oauth-Scopes:
      - identify,channels:read,users:read,channels:write,chat:write,groups:write,im:write,mpim:write
      X-Accepted-Oauth-Scopes:
      - channels:write,groups:write,mpim:write,im:write,post
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-rn4n
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"already_in_channel","errors":[{"user":"UUSV2BNFL","ok":false,"error":"already_in_channel"}]}'
  recorded_at: Fri, 13 Mar 2020 02:39:57 GMT
[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.invite?channel=CUVFN5GQ1&token=<USER_TOKEN>&users=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - e9c8ea8efb76fd6ba6e49033bbec225c
      X-Oauth-Scopes:
      - identify,channels:read,users:read,channels:write,chat:write,groups:write,im:write,mpim:write
      X-Accepted-Oauth-Scopes:
      - channels:write,groups:write,mpim:write,im:write,post
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-6vtt
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"no_user"}'
  recorded_at: Fri, 13 Mar 2020 02:58:04 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.invite?channel=CUVFN5GQ1&token=<USER_TOKEN>&users=UUSV2BNFL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - d8c7422aff91e9f7c184fbf45ef9b616
      X-Oauth-Scopes:
      - identify,channels:read,users:read,channels:write,chat:write,groups:write,im:write,mpim:write
      X-Accepted-Oauth-Scopes:
      - channels:write,groups:write,mpim:write,im:write,post
      X-Slack-Backend:
      - r
      X-Via:
      - haproxy-www-nzry
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"already_in_channel","errors":[{"user":"UUSV2BNFL","ok":false,"error":"already_in_channel"}]}'
  recorded_at: Fri, 13 Mar 2020 02:58:04 GMT
[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.invite?channel=CV54SHGHJ&token=<USER_TOKEN>&users=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 20db05299be8953077983d3a4258db3a
      X-Oauth-Scopes:
      - identify,channels:read,users:read,channels:write,chat:write,groups:write,im:write,mpim:write
      X-Accepted-Oauth-Scopes:
      - channels:write,groups:write,mpim:write,im:write,post
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-5fln
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"no_user"}'
  recorded_at: Fri, 13 Mar 2020 02:58:04 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.invite?channel=CV54SHGHJ&token=<USER_TOKEN>&users=UUSV2BNFL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - f69906e43354e2c7c59dbba379cb64a0
      X-Oauth-Scopes:
      - identify,channels:read,users:read,channels:write,chat:write,groups:write,im:write,mpim:write
      X-Accepted-Oauth-Scopes:
      - channels:write,groups:write,mpim:write,im:write,post
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-7q61
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"already_in_channel","errors":[{"user":"UUSV2BNFL","ok":false,"error":"already_in_channel"}]}'
  recorded_at: Fri, 13 Mar 2020 02:58:04 GMT
[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.invite?channel=CV5J58KCG&token=<USER_TOKEN>&users=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - bc55db3387b061bc2b1d1b432cb2021d
      X-Oauth-Scopes:
      - identify,channels:read,users:read,channels:write,chat:write,groups:write,im:write,mpim:write
      X-Accepted-Oauth-Scopes:
      - channels:write,groups:write,mpim:write,im:write,post
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-y3hd
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"no_user"}'
  recorded_at: Fri, 13 Mar 2020 02:58:05 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.invite?channel=CV5J58KCG&token=<USER_TOKEN>&users=UUSV2BNFL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 3628c8fcf1dc4cb025389382d819a773
      X-Oauth-Scopes:
      - identify,channels:read,users:read,channels:write,chat:write,groups:write,im:write,mpim:write
      X-Accepted-Oauth-Scopes:
      - channels:write,groups:write,mpim:write,im:write,post
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-wl4e
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"already_in_channel","errors":[{"user":"UUSV2BNFL","ok":false,"error":"already_in_channel"}]}'
  recorded_at: Fri, 13 Mar 2020 02:58:05 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.invite?channel=CV5J58KCG&token=<USER_TOKEN>&users=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 685e3665be7174091bb7cc84589e6af8
      X-Oauth-Scopes:
      - identify,channels:read,users:read,channels:write,chat:write,groups:write,im:write,mpim:write
      X-Accepted-Oauth-Scopes:
      - channels:write,groups:write,mpim:write,im:write,post
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-tt4n
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"no_user"}'
  recorded_at: Fri, 13 Mar 2020 02:58:05 GMT
recorded_with: VCR 5.1.0
